h2 {
  color: red;
}
.class {
  color: blue;
}
.red-text {
  color: red;
}
p {
  font-size: 16px;
}
p {
  font-size: 16px;
  font-family: monospace;
}
h2 {
  font-family: Lobster;
}

p {
  font-size: 16px;
  font-family: monospace;
}
.smaller-image {
  width: 100px;
}
.thick-green-border {
  border-width: 10px;
  border-style: solid;
  border-color: green;
}
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
}
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}
.silver-background {
  background-color: silver;
}
#cat-photo-form {
  background-color: green;
}
.blue-box {
  background-color: blue;
  color: #fff;
  padding: 20px;
}
